@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
#fp-nav ul li a span {
    background-color: rgba(255, 255, 255, 0.849);
}

#title {
    display: inline-block;
}

@keyframes growIn {
    from {
        transform: scale3d(0, 1, 1);
        opacity: 0;
    }
    to {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

#title-underline {
    width: 20%;
    opacity: 0;
    display: block;
    background-color: #23e8fd;
    height: 8px;
    transform-origin: left;
}

@keyframes rightIn {
    from {
        transform: translate3d(50px, 0px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes leftIn {
    from {
        transform: translate3d(-50px, 0px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes bottomIn {
    from {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes topIn {
    from {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}


@keyframes fade {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fade {
    animation: fade infinite ease-out 2s;
}

.bottomIn {
    animation: bottomIn forwards ease-in .75s;
}

.topIn {
    animation: topIn forwards ease-out .75s;
}

.growIn {
    animation: growIn forwards ease-out .75s;
}

.leftIn {
    animation: leftIn forwards ease-out .75s;
}

.rightIn {
    animation: rightIn forwards ease-out .75s;
}

.fadeOut {
    animation: fadeOut forwards ease-out .75s 5s;
}


.fadeIn {
    animation: fadeIn forwards ease-out 2s;
}

.move
{
    animation: move 3s ease-out infinite;
}


nav {
    margin: 0 7%;
    position: relative;
    padding: 17px 0;
    text-align: right;
}

nav a {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #F4F4F4;
    text-decoration: none;
    font-size: 16px;
    display: inline;
    margin: 0 5px;
    padding: 5px 12px;
}

nav a:hover {
    color: rgb(221, 221, 221);
}

@media only screen and (max-width: 1170px) {
    nav {
        text-align: left !important;
    }
    nav a {
        color: #2D2D2D !important;
    }
    nav a:hover {
        color: rgb(94, 94, 94) !important;
    }
    nav a:focus {
        color: rgb(24, 24, 24) !important;
    }
}

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    scrollbar-width: none;
    background-color: rgb(32, 32, 32);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    opacity: 1;
}

#background-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsl(253, 23%, 15%);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fe6ab3 0%, #ad81fa 100%) fixed;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fe6ab3 0%, #ad81fa 100%) fixed;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ad81fa 0%, rgb(203, 214, 223) 100%) fixed;
    background: linear-gradient(135deg, #5e5057 0%, #33254d 100%) fixed;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(135deg, #fe6ab3 0%, #ad81fa 100%) fixed;
    background: linear-gradient(135deg, hsl(253, 23%, 15%) 0%, hsla(260, 100%, 9%, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6ab3', endColorstr='#ad81fa', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}


main {
    min-height: 100%;
    padding: 15% 20%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    position: relative;
    display: block;
    background: url(img/2.jpg) no-repeat center center;
    background-color: hsl(253, 23%, 15%);
}

main section h1 {
    transform-origin: center center;
    text-transform: uppercase;
    position: relative;
    font-size: 4em;
    color: white;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

main section p {
    transform-origin: center center;
    margin: 1.5em 0 1em 0;
    font-size: 1.2em;
    line-height: 1.25em;
    text-align: justify;
    color: white;
}

@media only screen and (max-width: 650px) {
    #title-underline {
        width: 65%;
    }
    h1, h2, h3 {
        word-wrap: break-word;
    }
    main section h1 {
        font-size: 3em;
    }
    main section p {
        font-size: 1.1em;
    }
}

input, .btn, submit {
    border: none;
}

.btn {
    transform-origin: left center;
    color: white;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    border: white 3px solid;
    padding: 9px 32px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1em;
    transition: background-color .2s ease-out, color .2s ease-out, border .2s ease-out;
}

.btn:hover {
    background-color: white;
    /* Old browsers */
    cursor: pointer;
    color: hsl(253, 23%, 15%);
    ;
    border-color: white;
}

.btn:focus {
    background-color: white;
    /* Old browsers */
    color: hsl(253, 23%, 15%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#full {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

#right {
    width: 33%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
}

#left {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.selectMoveDisable {
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    /* user-select: none; */
}

#skills {
    padding: 50px 7%;
    top: 0;
    position: relative;
    height: auto;
    width: 100%;
    background: rgb(32, 32, 32);
    perspective: 1000px;
}

.column {
    display: inline-block;
    margin: 7.5px -2px 7.5px -2px;
    width: 12.5%;

    text-align: center;
}

.column img {

    height: 75px;

    display: block;
    margin: auto;
    opacity: 1;
    padding: 10px;
}

.column p
{
    color: white;
    opacity: 1;
    margin-top: 10px;
}

.hr {
    margin: 17.5px;
    height: 1.25px;
    background: rgb(228, 228, 228);
}

@media only screen and (max-width: 1000px) {
    .column {
        width: 25%;
    }
    #right, #left {
        visibility: hidden;
    }
}

#about {
    background: url(img/1.jpg) no-repeat center center;
    background-size: cover;
    background-color: hsl(253, 23%, 15%);
    min-height: 100%;

    padding: 0 15%; 
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    position: relative;
    z-index: 50;
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ad81fa;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #fe6ab3 0%, #ad81fa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #fe6ab3 0%, #ad81fa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #fe6ab3 0%, #ad81fa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(45deg, #33254d 0%, #3f3f3f 100%) fixed;
    background: linear-gradient(45deg, hsl(253, 23%, 15%) 0%, hsl(261, 35%, 22%) 100%);
    background: linear-gradient(135deg, hsl(253, 23%, 15%) 0%, hsl(260, 100%, 9%) 100%);
    background: linear-gradient(135deg, hsl(253, 23%, 15%) 0%, hsla(260, 100%, 9%, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6ab3', endColorstr='#ad81fa', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

/* #about section {
    position: absolute;
    z-index: 1;
    width: 50%;
    top: 50%;
    margin-left: 7%;
    transform: translate3d(0%, -50%, 0px);
} */

#about section h2 {
    font-size: 3em;
    text-transform: uppercase;
    color: white;
}

#about section p {
    color: white;
    margin: 1.5em 0 1em 0;
    line-height: 1.25em;
    font-size: 1.2em;
    text-align: justify;
}

@media only screen and (max-width: 1000px) {
    #half {
        visibility: hidden;
    }
    #about section {
        width: 70%;
        right: 50%;
        transform: translate3d(50%, -50%, 0);
        margin-left: 0%;
    }
}

.line-bottom {
    border-bottom: 3px #23e8fd solid;
}

.line-left {
    border-left: 3px #23e8fd solid;
    padding-left: 25px;
}

.line-right {
    border-right: 3px #23e8fd solid;
    padding-right: 25px;
}

#p-left {
    transform-origin: right bottom;
}

#p-right {
    text-align: right;
    transform-origin: left top;
}

#half {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

#newSection {
    /* overflow: hidden; */
    background: #ad81fa;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fe6ab3 0%, #ad81fa 100%) fixed;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fe6ab3 0%, #ad81fa 100%) fixed;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fe6ab3 0%, #ad81fa 100%) fixed;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6ab3', endColorstr='#ad81fa', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

#design {
    /* overflow: hidden; */
    background: rgb(32, 32, 32);
    width: 100%;
    min-height: 100%;

    position: relative;
    perspective: 1000px;
}

#design img {
    height: 50%
}

#img-left {
    position: absolute;
    padding-left: 7%;
    width: 30%;
    height: auto;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    margin-right: 7%;
}

#design section {
    position: absolute;
    z-index: 1;
    right: 7%;
    width: 55%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

#design section p {
    color: white;
    margin: 1.5em 0 1em 0;
    line-height: 1.25em;
    font-size: 1.2em;
    text-align: justify;
}

#design section h3 {
    font-size: 2em;
    text-transform: uppercase;
    color: white;
}

#img-bottom {
    position: absolute;
    bottom: 0%;
}

#img-left {
    perspective: 1000px;
}

@media only screen and (max-width: 1000px) {
    #img-left {
        visibility: hidden;
    }
    #design section {
        right: 50%;
        width: 75%;
        top: 50%;
        transform: translate3d(50%, -50%, 0);
    }
}

.test123 {
    margin: 11px;
    background-color: #23e8fd;
    width: 400px;
    z-index: -1;
    transform-origin: right;
    height: 3px;
}

.abBtmRight {
    transform-origin: right;
    transform: rotate(-45deg);
    position: absolute;
    top: 75%;
    right: -20px;
}

.animate {
    opacity: 0;
}

#fp-nav ul li a
{
    padding: 9px;
}

























.container {
    position: absolute;
    bottom: 85px;
    left: 50%;
  }
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    from {
      opacity: 1;
    }
    to
    {
        opacity: .25;
    }

  }